//sass --watch assets/scss/style.scss:assets/css/style.css
//sass assets/scss/style.scss:assets/css/style.css

$color-button:#ffc225;
$text-third:#323d67;
$text-secondary:#ffffffcc;
$background-primary:#5867a6;
$error-bg:#fcd5d5;
$error-color:#bf3034;
$color-hover:$color-button;
$color-hover-button:#FFDC25;

@mixin phone-horizontal{
    @media (max-width: 767px) { @content; }
}
@mixin phone-vertical{
    @media (max-width: 415px) { @content; }
}


body{
    margin: 0;
    padding: 0;
}
*{
    font-family: "Inter"  ;

}
button{
    border: none;
    background-color: none;
}

.c-home{
    background: url('../img/bg.png');
    height: 100vh;
    width: 100%;
    background-size:cover;
}

.c-menu-tindin{
    height: 100%;
    width: 33%;
    border-radius: 0px 10px 10px 0px;
    background-color: rgba(57, 69, 115, 0.9);
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    transition: ease 1000ms;

    @include phone-vertical{
        width: 100%;
        border-radius: 0px;
    }


    &.maximized{
        width: 100%;

        .menu-suboptions{
            justify-content: center;

            .suboptions{
                margin: 0px 32px;
            }
        }

        .menu-footer{
            .action-menu{
                margin: 0px 32px;
            }
            .box-language{
                margin: 0px 32px;
            }
        }
    }    

    .menu_header{
        padding: 16px 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
       
        @include phone-vertical{
            justify-content: center;
        }

        .menu-logo{
            height: 38px;
        }

        .menu-box-icons{
            display: flex;
            align-items: center;
            
            .menu-icon{
                margin: 0px 12px;
                fill: white;
                stroke: white;

                @include phone-vertical{
                    display: none;
                }
                
                &:hover{
                    fill: $color-hover;
                    stroke: $color-hover;
                    rect{
                        stroke: $color-hover;   
                    }
                }
                
            }
            
        } 
        
    }

    .menu-suboptions{
        padding:16px 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-top: 1px solid rgba(217, 217, 217, 0.5);
        border-bottom: 1px solid rgba(217, 217, 217, 0.5);


        .suboptions{
                color: #ffffff;
                font-weight: 450;
                font-family:"Inter";
                white-space: nowrap;
                font-size: 14px;
                position: relative;
                margin: 0px 16px;

                &.active{
                    &::before{
                        height: 2px;
                        border-radius: 50px;
                        width: 100%;
                        background-color: #ffffff;
                        left: 0;
                        bottom:-65%;
                        position: absolute;
                        content: '';
                    }
                }    

                &:hover{
                    text-decoration: none;
                    color: $color-hover;

                    &.active{
                        &::before{
                            background-color:$color-button;
                        }
                    }    
                }          
          
        }

    }

    .menu-register{

        .sign-accont{
            padding: 0px 32px;

            input{
                border-radius: 8px;
                max-width: 320px;
                background-color: rgba(90, 107, 171, 0.9);
                height: 42px;
                padding: 0px 8px;
                

                &::placeholder{
                    color: #ffffff80;
                    font-size: 14px;
                }
                &.error{
                    background-color: $error-bg;
                    border: $error-color 2px solid;

                    &::placeholder{
                        color: $error-color;

                    }
                }
            }
            .password-recover{
                color: rgba(200, 200, 203, 1)
            }
            .submit{
                width: 320px;
                background-color: $color-button;
                border-radius: 8px;
                height: 44px;
                font-weight: 600;
                color: $text-third;
                display: flex;
                justify-content: center;
                align-items:center;
                margin-top: 48px;

                &:hover{
                    background-color:$color-hover-button ;
                }
            }

            .others-sign{
                padding-top:40px;

                span{
                    padding: 0px 16px;
                    color: $text-secondary;
                }
                hr{
                    width: 100px;
                    border-radius: 16px;
                    height: 0.12rem;
                    background-color: $text-secondary;
                }

                .social-media{
                    margin-top: 24px;

                    a{
                        background-color: #5867a6;
                        height: 48px;
                        border-radius: 12px;
                        width: 48px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 12px;
                        margin: 0px 8px;

                        &:first-child{
                            margin-left: 0px;
                        }

                        &:last-child{
                            margin-right: 0px;
                        }

                        img{
                            width: 100%;
                        }

                        &:hover{
                            background-color: $color-hover;
                        }
                    }
                    
                }
            }
        }
    }

    .menu-footer{
        border-top:1px solid rgba(217, 217, 217,0.3);
        padding-top: 24px;
        padding-bottom: 24px;

        .action-menu{
            color: white;

            &:hover{
                color: $color-hover;
            }
         }
         .language{
            height: 28px;
            width: 28px;
            border-radius: 100%;
            margin: 0px 8px;
            filter: grayscale(1);
            cursor: pointer;

            &.active{
                filter: none;
            }
            &:hover{
                filter: none;
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            
         }
         
    }
    .menu-forms{
        padding: 32px;
        
        .img-tindin{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 30vh;

            img{
                height: 100%;
                object-fit: cover;

            }
        }
        .sign-form{
            padding-top: 16px;
            align-items: start;
        }
        .question-form{
            color: white;
            font-size: 20px;
            padding-bottom: 16px;
            text-align: start;
        }
        .answer-tindin{
            margin-top:16px;
            

            &:first-child{
                margin-top: 0px;
            }

            input[type="radio"] {
                border: 2px solid white;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                outline: none;
                cursor: pointer;

                &::before {
                    content: "";
                    display: block;
                    width:15px;
                    height: 15px;
                    background-color: #394573e6;
                    border-radius: 50%;

                   
                }
                &:hover{
                    &::before {
                        background-color: $color-hover;
                    } 
                }

                &:checked::before {
                    background-color: white;
                    visibility: visible;
                    width:15px;
                    height: 15px;
                    border:#323d67 3px solid ;
                }
              }             
              
            p{
                color: white;
                padding-left: 8px;
                font-size: 18px;
            }

        }
    }


}
