//sass --watch assets/scss/style.scss:assets/css/style.css
//sass assets/scss/style.scss:assets/css/style.css

$color-button:#ffc225;
$text-third:#323d67;
$text-secondary:#ffffffcc;
$background-primary:#5867a6;
$error-bg:#fcd5d5;
$error-color:#bf3034;
$color-hover:$color-button;
$color-hover-button:#FFDC25;

@mixin phone-horizontal{
    @media (max-width: 1023px) { @content; }
}
@mixin phone-vertical{
    @media (max-width: 415px) { @content; }
}


body{
    margin: 0;
    padding: 0;
}
*{
    font-family: "Inter"  ;

}
button{
    border: none;
    background-color: none;
}

.c-home{
    background: url('../img/bg.png');
    height: 100vh;
    width: 100%;
    background-size:cover;
}

.c-menu-tindin{
    height: 100%;
    width: 33%;
    border-radius: 0px 10px 10px 0px;
    background-color: rgba(57, 69, 115, 0.9);
    overflow: hidden;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content:space-between;
    transition: ease 800ms;


    @include phone-horizontal{
        border-radius: 0px;
        
    }

    @include phone-vertical{
        width: 100%;
    }


    &.maximized{
        width: 100%;
        padding: 0px;

        .menu-suboptions{
            justify-content: center;

            .suboptions{
                margin: 0px 32px;
            }
        }

        .menu-footer{
            transition: ease 800ms;
            position: relative;
            width: 100%;
            max-width: 100%;
            background-color: transparent;
            

            .action-menu{
                margin: 0px 32px;
            }
            .box-language{
                margin: 0px 32px;
            }
        }
    }    

    .menu_header{
        padding: 16px 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
       
        @include phone-vertical{
            justify-content: center;
        }

        .menu-logo{
            height: 38px;
        }

        .menu-box-icons{
            display: flex;
            align-items: center;
            line-height: 0px;
            
            .menu-icon{
                margin: 0px 12px;
                fill: white;
                stroke: white;
                
                @include phone-horizontal{
                    position:relative;
                    top: 5px;
                }

                @include phone-vertical{
                    display: none;
                }
                
                &:hover{
                    fill: $color-hover;
                    stroke: $color-hover;
                    rect{
                        stroke: $color-hover;   
                    }
                }
                
            }
            
        } 
        
    }

    .menu-suboptions{
        padding:16px 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-top: 1px solid rgba(217, 217, 217, 0.5);
        border-bottom: 1px solid rgba(217, 217, 217, 0.5);
        
        @include phone-horizontal{
            padding:16px 8px;
        }

        .suboptions{
            color: #ffffff;
            font-weight: 450;
            font-family:"Inter";
            white-space: nowrap;
            font-size: 14px;
            position: relative;
            margin: 0px 16px;

            @include phone-horizontal{
                margin: 0px 8px;
                font-size: 13px;

                &:first-child{
                    margin-left: 0px;
                }
                &:last-child{
                    margin-right: 0px;
                }
            }


                &.active{
                    &::before{
                        height: 2px;
                        border-radius: 50px;
                        width: 100%;
                        background-color: #ffffff;
                        left: 0;
                        bottom:-65%;
                        position: absolute;
                        content: '';
                    }
                }    

                &:hover{
                    text-decoration: none;
                    color: $color-hover;

                    &.active{
                        &::before{
                            background-color:$color-button;
                        }
                    }    
                }          
          
        }

    }

    .menu-register{
        overflow: auto;

        .title-register{
            @include phone-horizontal{
                font-size: 18px;
            }
        }
        .sign-accont{
            padding: 0px 32px;
            max-width: 80%;

            @include phone-horizontal{
                max-width: 100%;
                padding: 0px 16px;
            }

            .box-input{
                width: 100%;
                
                @include phone-horizontal{
                    width: 100%;
                }
            }
            input{
                border-radius: 8px;
                width: 320px;
                background-color: rgba(90, 107, 171, 0.9);
                height: 42px;
                padding: 0px 8px;
                
                @include phone-horizontal{
                    width: 100%;
                }

                &::placeholder{
                    color: #ffffff80;
                    font-size: 14px;
                }
                &.error{
                    background-color: $error-bg;
                    border: $error-color 2px solid;

                    &::placeholder{
                        color: $error-color;

                    }
                }
            }
            .password-recover{
                color: rgba(200, 200, 203, 1)
            }
            .submit{
                width: 320px;
                background-color: $color-button;
                border-radius: 8px;
                height: 44px;
                font-weight: 600;
                color: $text-third;
                display: flex;
                justify-content: center;
                align-items:center;
                margin-top: 48px;

                @include phone-horizontal{
                    width: 100%;
                }

                &:hover{
                    background-color:$color-hover-button ;
                }
            }

            .others-sign{
                padding-top:40px;

                span{
                    padding: 0px 16px;
                    color: $text-secondary;
                }
                hr{
                    width: 100px;
                    border-radius: 16px;
                    height: 0.12rem;
                    background-color: $text-secondary;

                    @include phone-horizontal{
                        width: 80px;
                        border-radius: 0px;
                    }
                }

                .social-media{
                    margin-top: 24px;

                    a{
                        background-color: #5867a6;
                        height: 48px;
                        border-radius: 12px;
                        width: 48px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 12px;
                        margin: 0px 8px;

                        @include phone-horizontal{
                            width: 40px;
                            height: 40px;
                            padding: 8px;
                        }

                        &:first-child{
                            margin-left: 0px;
                        }

                        &:last-child{
                            margin-right: 0px;
                        }

                        img{
                            width: 100%;
                        }

                        &:hover{
                            background-color: $color-hover;
                        }
                    }
                    
                }
            }
        }

        
    }

    .menu-footer{
        border-top:1px solid rgba(217, 217, 217,0.3);
        padding: 24px 32px;
        width: 100%;
        position: relative;
        background-color: rgba(57, 69, 115, 1);

        @include phone-horizontal{
            padding: 12px 16px;

            &::before{
                position: absolute;
                content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="7" viewBox="0 0 10 7" fill="none"><path d="M4.62582 5.96469L4.62582 5.96469C4.7218 6.06821 4.85552 6.13091 5 6.13091C5.14448 6.13091 5.2782 6.06821 5.37418 5.96469L5.37418 5.96469L9.0704 1.97792C9.07071 1.9776 9.07102 1.97727 9.07133 1.97694C9.12001 1.92529 9.15792 1.86472 9.18389 1.79928C9.21002 1.73344 9.22384 1.66324 9.22506 1.5926C9.22627 1.52195 9.21486 1.45134 9.19109 1.38465C9.16731 1.31794 9.13135 1.25573 9.08427 1.20209L8.93277 1.33507L9.08427 1.20209C9.03715 1.14841 8.97963 1.10419 8.9143 1.07326C8.84889 1.04229 8.77759 1.02557 8.70473 1.0249C8.63188 1.02423 8.56027 1.03963 8.49428 1.06945C8.42879 1.09904 8.37081 1.14193 8.32296 1.1944L5 4.77891L1.67703 1.19439C1.62918 1.14192 1.5712 1.09904 1.50572 1.06945C1.43973 1.03963 1.36812 1.02423 1.29526 1.0249C1.22241 1.02557 1.15111 1.04229 1.0857 1.07326C1.02037 1.10419 0.962847 1.14841 0.91573 1.20209L1.08494 1.35061L0.915729 1.20209C0.868653 1.25573 0.83269 1.31794 0.808911 1.38465C0.785136 1.45134 0.77373 1.52195 0.774943 1.5926C0.776156 1.66324 0.789982 1.73344 0.816109 1.79928L1.02538 1.71624L0.81611 1.79928C0.842079 1.86472 0.879984 1.92528 0.928668 1.97694L4.62582 5.96469Z" fill="white" stroke="white" stroke-width="0.450289"/></svg>');
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                background: linear-gradient(1.14deg, #061656 -28.91%, rgba(0, 0, 0, 0) 87%);
                height: 35px;
                width: 100%;
                top: -35px;
                left: 0px;
            }
            
        }

        @include phone-vertical{
            &::before{
                display: none;
            }
        }

        .action-menu{
            color: white;

            @include phone-horizontal{
                font-size: 14px;
            }

            &:hover{
                color: $color-hover;
            }
         }
         .language{
            height: 28px;
            width: 28px;
            border-radius: 100%;
            margin: 0px 8px;
            filter: grayscale(1);
            cursor: pointer;

            @include phone-horizontal{
                height: 24px;
                width: 24px;
            }

            &.active{
                filter: none;
            }
            &:hover{
                filter: none;
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            
         }
         
    }
    .menu-forms{
        padding: 32px;
        
        .img-tindin{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 30vh;

            img{
                height: 100%;
                object-fit: cover;

            }
        }
        .sign-form{
            padding-top: 16px;
            align-items: start;
        }
        .question-form{
            color: white;
            font-size: 20px;
            padding-bottom: 16px;
            text-align: start;
        }
        .answer-tindin{
            margin-top:16px;
            

            &:first-child{
                margin-top: 0px;
            }

            input[type="radio"] {
                border: 2px solid white;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                outline: none;
                cursor: pointer;

                &::before {
                    content: "";
                    display: block;
                    width:15px;
                    height: 15px;
                    background-color: #394573e6;
                    border-radius: 50%;

                   
                }
                &:hover{
                    &::before {
                        background-color: $color-hover;
                    } 
                }

                &:checked::before {
                    background-color: white;
                    visibility: visible;
                    width:15px;
                    height: 15px;
                    border:#323d67 3px solid ;
                }
              }             
              
            p{
                color: white;
                padding-left: 8px;
                font-size: 18px;
            }

        }
    }


}
