body {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Inter";
}

button {
  border: none;
  background-color: none;
}

.c-home {
  background: url("../img/bg.png");
  height: 100vh;
  width: 100%;
  background-size: cover;
}

.c-menu-tindin {
  height: 100%;
  width: 33%;
  border-radius: 0px 10px 10px 0px;
  background-color: rgba(57, 69, 115, 0.9);
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: ease 1000ms;
}
@media (max-width: 415px) {
  .c-menu-tindin {
    width: 100%;
    border-radius: 0px;
  }
}
.c-menu-tindin.maximized {
  width: 100%;
}
.c-menu-tindin.maximized .menu-suboptions {
  justify-content: center;
}
.c-menu-tindin.maximized .menu-suboptions .suboptions {
  margin: 0px 32px;
}
.c-menu-tindin.maximized .menu-footer .action-menu {
  margin: 0px 32px;
}
.c-menu-tindin.maximized .menu-footer .box-language {
  margin: 0px 32px;
}
.c-menu-tindin .menu_header {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 415px) {
  .c-menu-tindin .menu_header {
    justify-content: center;
  }
}
.c-menu-tindin .menu_header .menu-logo {
  height: 38px;
}
.c-menu-tindin .menu_header .menu-box-icons {
  display: flex;
  align-items: center;
}
.c-menu-tindin .menu_header .menu-box-icons .menu-icon {
  margin: 0px 12px;
  fill: white;
  stroke: white;
}
@media (max-width: 415px) {
  .c-menu-tindin .menu_header .menu-box-icons .menu-icon {
    display: none;
  }
}
.c-menu-tindin .menu_header .menu-box-icons .menu-icon:hover {
  fill: #ffc225;
  stroke: #ffc225;
}
.c-menu-tindin .menu_header .menu-box-icons .menu-icon:hover rect {
  stroke: #ffc225;
}
.c-menu-tindin .menu-suboptions {
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: 1px solid rgba(217, 217, 217, 0.5);
  border-bottom: 1px solid rgba(217, 217, 217, 0.5);
}
.c-menu-tindin .menu-suboptions .suboptions {
  color: #ffffff;
  font-weight: 450;
  font-family: "Inter";
  white-space: nowrap;
  font-size: 14px;
  position: relative;
  margin: 0px 16px;
}
.c-menu-tindin .menu-suboptions .suboptions.active::before {
  height: 2px;
  border-radius: 50px;
  width: 100%;
  background-color: #ffffff;
  left: 0;
  bottom: -65%;
  position: absolute;
  content: "";
}
.c-menu-tindin .menu-suboptions .suboptions:hover {
  text-decoration: none;
  color: #ffc225;
}
.c-menu-tindin .menu-suboptions .suboptions:hover.active::before {
  background-color: #ffc225;
}
.c-menu-tindin .menu-register .sign-accont {
  padding: 0px 32px;
}
.c-menu-tindin .menu-register .sign-accont input {
  border-radius: 8px;
  max-width: 320px;
  background-color: rgba(90, 107, 171, 0.9);
  height: 42px;
  padding: 0px 8px;
}
.c-menu-tindin .menu-register .sign-accont input::placeholder {
  color: rgba(255, 255, 255, 0.5019607843);
  font-size: 14px;
}
.c-menu-tindin .menu-register .sign-accont input.error {
  background-color: #fcd5d5;
  border: #bf3034 2px solid;
}
.c-menu-tindin .menu-register .sign-accont input.error::placeholder {
  color: #bf3034;
}
.c-menu-tindin .menu-register .sign-accont .password-recover {
  color: rgb(200, 200, 203);
}
.c-menu-tindin .menu-register .sign-accont .submit {
  width: 320px;
  background-color: #ffc225;
  border-radius: 8px;
  height: 44px;
  font-weight: 600;
  color: #323d67;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}
.c-menu-tindin .menu-register .sign-accont .submit:hover {
  background-color: #FFDC25;
}
.c-menu-tindin .menu-register .sign-accont .others-sign {
  padding-top: 40px;
}
.c-menu-tindin .menu-register .sign-accont .others-sign span {
  padding: 0px 16px;
  color: rgba(255, 255, 255, 0.8);
}
.c-menu-tindin .menu-register .sign-accont .others-sign hr {
  width: 100px;
  border-radius: 16px;
  height: 0.12rem;
  background-color: rgba(255, 255, 255, 0.8);
}
.c-menu-tindin .menu-register .sign-accont .others-sign .social-media {
  margin-top: 24px;
}
.c-menu-tindin .menu-register .sign-accont .others-sign .social-media a {
  background-color: #5867a6;
  height: 48px;
  border-radius: 12px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  margin: 0px 8px;
}
.c-menu-tindin .menu-register .sign-accont .others-sign .social-media a:first-child {
  margin-left: 0px;
}
.c-menu-tindin .menu-register .sign-accont .others-sign .social-media a:last-child {
  margin-right: 0px;
}
.c-menu-tindin .menu-register .sign-accont .others-sign .social-media a img {
  width: 100%;
}
.c-menu-tindin .menu-register .sign-accont .others-sign .social-media a:hover {
  background-color: #ffc225;
}
.c-menu-tindin .menu-footer {
  border-top: 1px solid rgba(217, 217, 217, 0.3);
  padding-top: 24px;
  padding-bottom: 24px;
}
.c-menu-tindin .menu-footer .action-menu {
  color: white;
}
.c-menu-tindin .menu-footer .action-menu:hover {
  color: #ffc225;
}
.c-menu-tindin .menu-footer .language {
  height: 28px;
  width: 28px;
  border-radius: 100%;
  margin: 0px 8px;
  filter: grayscale(1);
  cursor: pointer;
}
.c-menu-tindin .menu-footer .language.active {
  filter: none;
}
.c-menu-tindin .menu-footer .language:hover {
  filter: none;
}
.c-menu-tindin .menu-footer .language img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.c-menu-tindin .menu-forms {
  padding: 32px;
}
.c-menu-tindin .menu-forms .img-tindin {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30vh;
}
.c-menu-tindin .menu-forms .img-tindin img {
  height: 100%;
  object-fit: cover;
}
.c-menu-tindin .menu-forms .sign-form {
  padding-top: 16px;
  align-items: start;
}
.c-menu-tindin .menu-forms .question-form {
  color: white;
  font-size: 20px;
  padding-bottom: 16px;
  text-align: start;
}
.c-menu-tindin .menu-forms .answer-tindin {
  margin-top: 16px;
}
.c-menu-tindin .menu-forms .answer-tindin:first-child {
  margin-top: 0px;
}
.c-menu-tindin .menu-forms .answer-tindin input[type=radio] {
  border: 2px solid white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
}
.c-menu-tindin .menu-forms .answer-tindin input[type=radio]::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: rgba(57, 69, 115, 0.9019607843);
  border-radius: 50%;
}
.c-menu-tindin .menu-forms .answer-tindin input[type=radio]:hover::before {
  background-color: #ffc225;
}
.c-menu-tindin .menu-forms .answer-tindin input[type=radio]:checked::before {
  background-color: white;
  visibility: visible;
  width: 15px;
  height: 15px;
  border: #323d67 3px solid;
}
.c-menu-tindin .menu-forms .answer-tindin p {
  color: white;
  padding-left: 8px;
  font-size: 18px;
}

/*# sourceMappingURL=style.css.map */
