<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <section class="c-home"> 
            <div class="c-menu-tindin">
                <div class="menu_header">
                    <img class="menu-logo" src="../../assets/img/logo.svg">
                    <div class="menu-box-icons">
                        <img class="menu-icon" src="../../assets/img/icons/minimize.svg"> 
                        <img class="menu-icon" src="../../assets/img/icons/maximize.svg">
                        <img class="menu-icon" src="../../assets/img/icons/close.svg">
                    </div>
                </div>
                <div class="menu-forms flex flex-col items-center pt-8 pb-5 justify-center" >
                    <div class="img-tindin">
                        <img src="../../assets/img/tindin-forms.png" alt="tindin animado"/>
                    </div>

                    <div class="sign-form w-full flex flex-col justify-center">
                        <p class="question-form"> Antes de continuar, precisamos de algumas informações.</p>
                        
                        <p class="describe-form text-base text-white font-light	">Usaremos as respostas das próximas perguntas para te proporcionar a melhor experiência.</p>
                    </div>
                </div>

                <div class="menu-footer flex pt-2 pb-2 items-center px-8 justify-between">
                    <a class="action-menu" href="../home/index.html">Voltar</a>
                    <div class="box-language flex">
                        <a class="language">
                            <img src="../../assets/img/icons/icon-idioma.png">
                        </a>
                        <a class="language active">
                            <img src="../../assets/img/icons/icon-idioma.png">
                        </a>
                        <a class="language">
                            <img src="../../assets/img/icons/icon-idioma.png">
                        </a>
                    </div>
                    <a class="action-menu" href="first-step.html">Avançar</a>
                </div>
            </div>
        </section>
        
    </body>
</html>
